<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar id="menuToolbar">
          <div class="title"><img src="assets/icon/logo.png" width="25" height="25" class="ion-margin-end"> Mutual Congreso</div>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list id="menuList">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item routerLinkActive="active-item" lines="none" [routerDirection]="'root'" [routerLink]="[p.url]" (click)="selectPage(p.url)">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
  <ion-fab #subscribeButton vertical="bottom" horizontal="end" slot="fixed" *ngIf="pageSelected != '/subscribe' " (click)="selectPage('/subscribe')">
    <ion-fab-button routerLink="/subscribe">
      <ion-icon name="mail"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-app>
