.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
.galery-article{
  width: 100%;
  height: 50%;
  background-color: antiquewhite;
  overflow-y: hidden;
 // overflow-x: scroll;
}
.swiper-slide img{
  height: 300px;
}
ion-icon{
  font-size: 50px !important;
}
#rowLogo{
  padding-top: 5%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 5%;
}