<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="--color: white;"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Institucional
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid style="padding:0">
    <ion-row>
      <div class="galery-article" *ngIf="dataSrv.imagesHome">
        <ion-slides pager="true" scrollbar="true" [options]="slideOpts">
          <ion-slide *ngFor="let image of dataSrv.imagesHome">
            <img [src]="image.url">
          </ion-slide>
        </ion-slides>
      </div>
    </ion-row>
    <ion-row class="ion-margin-top">
      <ion-card>
        <ion-card-header class="ion-padding">
          <img [src]="dataSrv.logo">
          <ion-card-subtitle class="ion-margin-top">¿QUIÉNES SOMOS?</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="ion-padding">
          <p class="ion-text-justify">
            Somos una asociación Mutual cuyos asociados inicialmente pertenecían al Poder Judicial Nacional y
            de la provincia de Tucumán, debido a nuestra intachable trayectoria de hace más de 20 años y la
            calidad en la prestación de servicios, nuestros beneficios han sido requeridos por el personal de
            Administración Pública (Municipalidad, Provincial y Nacional).
          </p>
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row>
      <ion-card>
        <ion-card-content>
          <div class="promo" class="ion-padding" *ngFor="let l of list">
            <ion-row>
              <ion-col size="12" class="ion-text-center">
                <ion-icon [name]="l.icon" color="secondary"></ion-icon>
              </ion-col>
              <ion-col size="12" class="ion-text-uppercase ion-text-center">
                {{l.title}}
              </ion-col>
              <ion-col size="12" class="ion-text-center">
                <p>{{l.body}}</p>
              </ion-col>
            </ion-row>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>