  /** facebook **/
.ion-color-facebook{
  --ion-color-base: #3b5998;
  --ion-color-base-rgb: 59,89,152;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #344e86;
  --ion-color-tint: #4f6aa2;
}
.ion-color-instagram{
    --ion-color-base: #e4405f;
    --ion-color-base-rgb: 228,64,95;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255,255,255;
    --ion-color-shade: #c93854;
    --ion-color-tint: #e7536f;
}
.ion-color-whatsapp{
    --ion-color-base: #25D366;
    --ion-color-base-rgb: 37,211,102;
    --ion-color-contrast: #000000;
    --ion-color-contrast-rgb: 0,0,0;
    --ion-color-shade: #21ba5a;
    --ion-color-tint: #3bd775;
}
.ion-color-phone{
    --ion-color-base: #410093;
    --ion-color-base-rgb: 65,0,147;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255,255,255;
    --ion-color-shade: #390081;
    --ion-color-tint: #541a9e;
}
