<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="--color: white;"></ion-menu-button>
    </ion-buttons>
    <ion-title>Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card>
    <ion-card-header>
      Información de Contactos:
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let item of contactList" [href]="item.contactData">
          <ion-icon [name]="item.icon" size="large" [color]="item.iconColor"></ion-icon>
          <h4 class="ion-padding">{{ item.title}}:</h4>
          <p>{{item.label}}</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
        Nos encontrás en:
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let office of offices" class="ion-margin-bottom ion-margin-top">
         <h5 class="ion-text-start">{{office.city}} - {{office.address}}</h5>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <router-outlet></router-outlet>
</ion-content>