<ion-header>
  <ion-toolbar>
    <ion-title>Comercios Adheridos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="exit()">atrás</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-grid *ngIf="dataSrv.commercesList">
    <ion-row>
      <ion-col size="6" *ngFor="let commerce of dataSrv.commercesList">
        <ion-card>
          <a [attr.href]="commerce.urlRef !== '' ? commerce.urlRef : null" target="_blank">
            <ion-img [src]="commerce.urlImage"></ion-img>
          </a>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>