<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="--color: white;"></ion-menu-button>
    </ion-buttons>
    <ion-title>Servicios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="dataSrv.serviceList">
  <ion-grid>
    <ion-row *ngFor="let service of dataSrv.serviceList">
      <ion-card>
        <ion-img [src]="service.url"></ion-img>
        <ion-card-header>
          <ion-card-title style="font-size: 26px;">
            {{service.title}}
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{service.body}}
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>

</ion-content>