<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="--color: white;"></ion-menu-button>
    </ion-buttons>
    <ion-title>Alta de Afiliado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
        <ion-text>
            <h3 class="ion-text-center">
              <ion-text>
                ¡Hola! ¡Bienvenid@! Nos alegra que quieras
                ser parte de La Mutual Congreso de Tucumán.
              </ion-text>
            </h3>
          </ion-text>
    </ion-card-header>
    <ion-card-content>
          <ion-text>
            <p class="ion-text-justify">
              Para solicitarlo, tenés que completar este formulario.
              El próximo paso será contactarnos contigo para comentarte
              todos los beneficios y servicios que tenemos para ofrecerte
              y finalizar con la afiliación.
            </p>
          </ion-text>
    </ion-card-content>
  </ion-card>
  
  <app-join-form></app-join-form>
</ion-content>