// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-header ion-toolbar{
    --background: var(--ion-color-primary);
    --color: var(--ion-color-light);
}
#menuList{
    padding-top: 30px !important;
}
#menuList ion-item{
    --padding-start: 27px !important;
}
.active-item{
    border-left: solid 5px var(--ion-color-secondary);
    --padding-start: 22px !important;
}

#menuToolbar .title{
  display: flex;
  justify-content: center;
  align-items: center;
}