<!-- Inputs with labels -->
<ion-card>
  <ion-card-header>
  </ion-card-header>
  <ion-card-content>
    <form [formGroup]="subscribeForm" (ngSubmit)="sendMessage()">
      <ion-item>
        <ion-label position="floating">Nombre <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Apellido <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="text" formControlName="lastName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">DNI <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input type="number" formControlName="dni"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Lugar de Nacimiento <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="text" formControlName="birthplace"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Fecha de Nacimiento <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="date" formControlName="birthdate"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nacionalidad <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="text" formControlName="nacionalitiy"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Estado Civil <ion-text color="danger">*</ion-text></ion-label>
        <ion-select multiple="false" cancelText="cancelar" okText="ok" formControlName="maritalStatus">
          <ion-select-option value="casado">Casado</ion-select-option>
          <ion-select-option value="soltero">Soltero</ion-select-option>
          <ion-select-option value="viudo">Viudo</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Dirección <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="text" formControlName="address"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Correo Electrónico <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Teléfono</ion-label>
        <ion-input type="tel" formControlName="phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Celular <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="number" formControlName="mobilePhone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Domicilio Laboral <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="text" formControlName="workAddress"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Teléfono Laboral <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="number" formControlName="workPhone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Dejanos un Comentario(opcional)</ion-label>
        <ion-textarea formControlName="bodyMessage"></ion-textarea>
      </ion-item>
          <ion-button expand="full" shape="round" class="ion-margin-top" type="submit">Enviar alta de afiliado</ion-button>
      <div  *ngIf="submitError && subscribeForm.invalid">
        <ion-icon name="alert" color="danger"></ion-icon>
        <ion-text color="danger">Error: * Campos obligatorios!</ion-text>
      </div>
    </form>
  </ion-card-content>
</ion-card>