{{!-- <h4>Nuevo Afiliado: </h4>
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th colspan="2" class="text-center">
       <h4>Datos Personales</h4>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Apellido</th>
      <td>{{_user._lastName}}</td>
    </tr>
    <tr>
      <th scope="row">Nombre</th>
      <td>{{_user._name}}</td>
    </tr>
    <tr>
      <th scope="row">DNI</th>
      <td>{{_user._dni}}</td>
    </tr>
    <tr>
      <th scope="row">Nacionalidad</th>
      <td>{{_user._nacionalitiy}}</td>
    </tr>
    <tr>
      <th scope="row">Lugar de Nacimiento</th>
      <td>{{_user._birthplace}}</td>
    </tr>
    <tr>
      <th scope="row">Fecha de Nacimiento</th>
      <td>{{_user._birthdate}}</td>
    </tr>
    <tr>
      <th scope="row">Estado Civil</th>
      <td>{{_user._maritalStatus}}</td>
    </tr>
    <tr>
      <th scope="row">Dirección</th>
      <td>{{_user._address}}</td>
    </tr>
    <tr>
      <th scope="row">Teléfono Fijo</th>
      <td>{{_user._phone}}</td>
    </tr>
    <tr>
      <th scope="row">Celular</th>
      <td>{{_user._mobilePhone}}</td>
    </tr>
    <tr>
      <th scope="row">Dirección del trabajo</th>
      <td>{{_user._workAddress}}</td>
    </tr>
    <tr>
      <th scope="row">Teléfono del trabajo</th>
      <td>{{_user._workPhone}}</td>
    </tr>
  </tbody>
</table>
  <div class="card" style="width: 18rem;">
    <h5 class="card-header">Comentario del suscriptor</h5>
    <div class="card-body">
      <p class="card-text">{{_messageBody}}</p>
    </div>
  </div> --}}
  {{!-- *********    sin boostrap ******** --}}
  <div style="width: 30%; margin-left: 10%; ">
  <h3>Solicitud de alta de nuevo afiliado: </h3><br>
  <div style="width: 100%;  border: 1px  solid grey; border-collapse: collapse;"><h4 style="color: dimgrey; text-align: center;">Datos Personales</h4></div>
  <table style="width: 100%;  border: 1px  solid grey; border-collapse: collapse;   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <tr>
      <th style="text-align: left; border: 1px  solid grey; padding :5px; padding-left: 5%; border-collapse: collapse;"
        style="text-align: left; border: 1px  solid grey; padding :5px; padding-left: 5%; border-collapse: collapse;">
        Apellido</th>
      <td style="text-align: left; border: 1px  solid grey; padding :5px; padding-left: 5%; border-collapse: collapse;">
        {{_user._lastName}}</td>
    </tr>
    <tr>
      <th style="text-align: left; border: 1px  solid grey; padding :5px; padding-left: 5%; border-collapse: collapse;">
        Nombre</th>
      <td style="text-align: left; border: 1px  solid grey; padding :5px; padding-left: 5%; border-collapse: collapse;">
        {{_user._name}}</td>
    </tr>
    <tr>
      <th style="text-align: left; border: 1px  solid grey; padding :5px; padding-left: 5%; border-collapse: collapse;">
        DNI</th>
      <td style="text-align: left; border: 1px  solid grey; padding :5px; padding-left: 5%; border-collapse: collapse;">
        {{_user._dni}}</td>
    </tr>
    <tr>
      <th style="text-align: left; border: 1px  solid grey; padding :5px; padding-left: 5%; border-collapse: collapse;">
        Nacionalidad</th>
      <td style="text-align: left; border: 1px  solid grey; padding :5px; padding-left: 5%; border-collapse: collapse;">
        {{_user._nacionalitiy}}</td>
    </tr>
    <tr>
      <th style="text-align: left; border: 1px  solid grey; padding :5px; padding-left: 5%; border-collapse: collapse;">
        Lugar de Nacimiento</th>
      <td style="text-align: left; border: 1px  solid grey; padding :5px; padding-left: 5%; border-collapse: collapse;">
        {{_user._birthplace}}</td>
    </tr>
    <tr>
      <th style="text-align: left; border: 1px  solid grey; padding :5px; padding-left: 5%; border-collapse: collapse;">
        Fecha de Nacimiento</th>
      <td style="text-align: left; border: 1px  solid grey; padding :5px; padding-left: 5%; border-collapse: collapse;">
        {{_user._birthdate}}</td>
    </tr>
    <tr>
      <th style="text-align: left; border: 1px  solid grey; padding :5px; padding-left: 5%; border-collapse: collapse;">
        Estado Civil</th>
      <td style="text-align: left; border: 1px  solid grey; padding :5px; padding-left: 5%; border-collapse: collapse;">
        {{_user._maritalStatus}}</td>
    </tr>
    <tr>
      <th style="text-align: left; border: 1px  solid grey; padding :5px; padding-left: 5%; border-collapse: collapse;">
        Dirección</th>
      <td style="text-align: left; border: 1px  solid grey; padding :5px; padding-left: 5%; border-collapse: collapse;">
        {{_user._address}}</td>
    </tr>
    <tr>
      <th style="text-align: left; border: 1px  solid grey; padding :5px; padding-left: 5%; border-collapse: collapse;">
        Teléfono Fijo</th>
      <td style="text-align: left; border: 1px  solid grey; padding :5px; padding-left: 5%; border-collapse: collapse;">
        {{_user._phone}}</td>
    </tr>
    <tr>
      <th style="text-align: left; border: 1px  solid grey; padding :5px; padding-left: 5%; border-collapse: collapse;">
        Celular</th>
      <td style="text-align: left; border: 1px  solid grey; padding :5px; padding-left: 5%; border-collapse: collapse;">
        {{_user._mobilePhone}}</td>
    </tr>
    <tr>
      <th style="text-align: left; border: 1px  solid grey; padding :5px; padding-left: 5%; border-collapse: collapse;">
        Dirección del trabajo</th>
      <td style="text-align: left; border: 1px  solid grey; padding :5px; padding-left: 5%; border-collapse: collapse;">
        {{_user._workAddress}}</td>
    </tr>
    <tr>
      <th style="text-align: left; border: 1px  solid grey; padding :5px; padding-left: 5%; border-collapse: collapse;">
        Teléfono del trabajo</th>
      <td style="text-align: left; border: 1px  solid grey; padding :5px; padding-left: 5%; border-collapse: collapse;">
        {{_user._workPhone}}</td>
    </tr>
  </table>
  <br>
  <div style="width: 70%;  border: 1px  solid grey; border-collapse: collapse;   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <div style="  border: 1px  solid grey; border-collapse: collapse; padding: 2%;"> <h4 style="color: dimgrey;">Comentario del suscriptor</h4></div>
    <div style="min-height: 50px; text-align: justify; padding: 5%;">
      <p >{{_messageBody}}</p>
    </div>
  </div>
</div>
