{{!-- <h4>Nuevo Afiliado: </h4>
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th colspan="2" class="text-center">
       <h4>Datos Personales</h4>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th >Apellido</th>
      <td>{{data._user._lastName}}</td>
    </tr>
    <tr>
      <th >Nombre</th>
      <td>{{data._user._name}}</td>
    </tr>
    <tr>
      <th >DNI</th>
      <td>{{data._user._dni}}</td>
    </tr>
    <tr>
      <th >Nacionalidad</th>
      <td>{{data._user._nacionalitiy}}</td>
    </tr>
    <tr>
      <th >Lugar de Nacimiento</th>
      <td>{{data._user._birthplace}}</td>
    </tr>
    <tr>
      <th >Fecha de Nacimiento</th>
      <td>{{data._user._birthdate}}</td>
    </tr>
    <tr>
      <th >Estado Civil</th>
      <td>{{data._user._maritalStatus}}</td>
    </tr>
    <tr>
      <th >Dirección</th>
      <td>{{data._user._address}}</td>
    </tr>
    <tr>
      <th >Teléfono Fijo</th>
      <td>{{data._user._phone}}</td>
    </tr>
    <tr>
      <th >Celular</th>
      <td>{{data._user._mobilePhone}}</td>
    </tr>
    <tr>
      <th >Dirección del trabajo</th>
      <td>{{data._user._workAddress}}</td>
    </tr>
    <tr>
      <th >Teléfono del trabajo</th>
      <td>{{data._user._workPhone}}</td>
    </tr>
  </tbody>
</table>
  <div class="card" style="width: 18rem;">
    <h5 class="card-header">Comentario del suscriptor</h5>
    <div class="card-body">
      <p class="card-text">{{data._messageBody}}</p>
    </div>
  </div> 
  <div class="card" style="width: 18rem;">
    <h5 class="card-header">Comentario del suscriptor</h5>
    <div class="card-body">
      <p class="card-text">{{data._messageBody}}</p>
    </div>
  </div>
  
  --}}
<div style="width: 30%; margin-left: 10%; ">
  <h3>Solicitud de alta de nuevo afiliado: </h3><br>
  <table style="width: 100%;  border: 1px  solid grey; border-collapse: collapse;   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <tr>
      {{!-- <th> --}}
      <h4 style="color: dimgrey; text-align: center;">Datos Personales</h4>
      {{!-- </th> --}}
    </tr>
    <tr>
      <th style="text-align: left; border: 1px  solid grey; padding :5px; padding-left: 5%; border-collapse: collapse;"
        style="text-align: left; border: 1px  solid grey; padding :5px; padding-left: 5%; border-collapse: collapse;">
        Apellido</th>
      <td style="text-align: left; border: 1px  solid grey; padding :5px; padding-left: 5%; border-collapse: collapse;">
        {{data._user._lastName}}</td>
    </tr>
    <tr>
      <th style="text-align: left; border: 1px  solid grey; padding :5px; padding-left: 5%; border-collapse: collapse;">
        Nombre</th>
      <td style="text-align: left; border: 1px  solid grey; padding :5px; padding-left: 5%; border-collapse: collapse;">
        {{data._user._name}}</td>
    </tr>
    <tr>
      <th style="text-align: left; border: 1px  solid grey; padding :5px; padding-left: 5%; border-collapse: collapse;">
        DNI</th>
      <td style="text-align: left; border: 1px  solid grey; padding :5px; padding-left: 5%; border-collapse: collapse;">
        {{data._user._dni}}</td>
    </tr>
    <tr>
      <th style="text-align: left; border: 1px  solid grey; padding :5px; padding-left: 5%; border-collapse: collapse;">
        Nacionalidad</th>
      <td style="text-align: left; border: 1px  solid grey; padding :5px; padding-left: 5%; border-collapse: collapse;">
        {{data._user._nacionalitiy}}</td>
    </tr>
    <tr>
      <th style="text-align: left; border: 1px  solid grey; padding :5px; padding-left: 5%; border-collapse: collapse;">
        Lugar de Nacimiento</th>
      <td style="text-align: left; border: 1px  solid grey; padding :5px; padding-left: 5%; border-collapse: collapse;">
        {{data._user._birthplace}}</td>
    </tr>
    <tr>
      <th style="text-align: left; border: 1px  solid grey; padding :5px; padding-left: 5%; border-collapse: collapse;">
        Fecha de Nacimiento</th>
      <td style="text-align: left; border: 1px  solid grey; padding :5px; padding-left: 5%; border-collapse: collapse;">
        {{data._user._birthdate}}</td>
    </tr>
    <tr>
      <th style="text-align: left; border: 1px  solid grey; padding :5px; padding-left: 5%; border-collapse: collapse;">
        Estado Civil</th>
      <td style="text-align: left; border: 1px  solid grey; padding :5px; padding-left: 5%; border-collapse: collapse;">
        {{data._user._maritalStatus}}</td>
    </tr>
    <tr>
      <th style="text-align: left; border: 1px  solid grey; padding :5px; padding-left: 5%; border-collapse: collapse;">
        Dirección</th>
      <td style="text-align: left; border: 1px  solid grey; padding :5px; padding-left: 5%; border-collapse: collapse;">
        {{data._user._address}}</td>
    </tr>
    <tr>
      <th style="text-align: left; border: 1px  solid grey; padding :5px; padding-left: 5%; border-collapse: collapse;">
        Teléfono Fijo</th>
      <td style="text-align: left; border: 1px  solid grey; padding :5px; padding-left: 5%; border-collapse: collapse;">
        {{data._user._phone}}</td>
    </tr>
    <tr>
      <th style="text-align: left; border: 1px  solid grey; padding :5px; padding-left: 5%; border-collapse: collapse;">
        Celular</th>
      <td style="text-align: left; border: 1px  solid grey; padding :5px; padding-left: 5%; border-collapse: collapse;">
        {{data._user._mobilePhone}}</td>
    </tr>
    <tr>
      <th style="text-align: left; border: 1px  solid grey; padding :5px; padding-left: 5%; border-collapse: collapse;">
        Dirección del trabajo</th>
      <td style="text-align: left; border: 1px  solid grey; padding :5px; padding-left: 5%; border-collapse: collapse;">
        {{data._user._workAddress}}</td>
    </tr>
    <tr>
      <th style="text-align: left; border: 1px  solid grey; padding :5px; padding-left: 5%; border-collapse: collapse;">
        Teléfono del trabajo</th>
      <td style="text-align: left; border: 1px  solid grey; padding :5px; padding-left: 5%; border-collapse: collapse;">
        {{data._user._workPhone}}</td>
    </tr>
  </table>
  <br>
  <div style="width: 70%;  border: 1px  solid grey; border-collapse: collapse;   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <div style="  border: 1px  solid grey; border-collapse: collapse; padding: 2%;"> <h4 style="color: dimgrey;">Comentario del suscriptor</h4></div>
    <div style="min-height: 50px; text-align: justify; padding: 5%;">
      <p >{{data._messageBody}}</p>
    </div>
  </div>
</div>