<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="--color: white;"></ion-menu-button>
    </ion-buttons>
    <ion-title>Beneficios</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid *ngIf="dataSrv.benefitsList">
    <ion-row *ngFor="let benefit of dataSrv.benefitsList">
      <ion-card>
        <ion-img [src]="benefit.url" *ngIf="benefit.url"></ion-img>
        <ion-card-header>
          <ion-card-title style="font-size: 19px;">
            {{benefit.title}}
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{benefit.body}}
          <ion-toolbar *ngIf="benefit.title == 'COMERCIOS ADHERIDOS'">
              <ion-buttons slot="end">
                <ion-button color="tertiary" (click)="presentModal()">Ver más</ion-button>
              </ion-buttons>
            </ion-toolbar>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>